
<div class="header-container">
  <h1>{{ 'timeEntries.headline' | translate}}</h1>
  <p-button type="button" icon="pi pi-plus" (click)="addTimeEntry()"></p-button>
</div>


<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>
<p-table [value]="timeEntries()" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
    <tr>
      <th> {{'timeEntries.startTime' | translate}}</th>
      <th> {{'timeEntries.endTime' | translate}}</th>
      <th> {{'timeEntries.description' | translate}}</th>
      <th> {{'timeEntries.project' | translate}}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-timeEntry>
    <tr>
      <td>
        {{ timeEntry.startTime| utcToLocalDate }}
        <br />
        {{ timeEntry.startTime | utcToLocalTime }}
      </td>
      <td>
        @if (timeEntry.endTime) {
          {{ timeEntry.endTime | utcToLocalDate }}
          <br />
          {{ timeEntry.endTime | utcToLocalTime }}
        }
      </td>
      <td>
        {{ timeEntry.description }}
      </td>
      <td>
        {{ getProjectName(timeEntry.projectId) }}
      </td>
      <td>
        <div class="buttonCol">
          <p-button
            icon="pi pi-pencil"
            [rounded]="true" [text]="true"
            (click)="editTimeEntry(timeEntry)">
          </p-button>
          <p-button
            icon="pi pi-trash"
            [rounded]="true" [text]="true"
            (click)="deleteTimeEntryRequest(timeEntry)">
          </p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

