<div class="header-container">
  @if (isNew()) {
    <h1>Add Project</h1>
  } @else {
    <h1>Edit Project - {{project()?.name ?? ''}}</h1>
  }
</div>

<form class="form-container" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="name">Name</label>
    <input pInputText class="input-text" id="name" formControlName="name" />
  </div>
  <div class="button-container">
    <p-button type="submit" label="OK" severity="primary"></p-button>
    <p-button type="button" label="Cancel" severity="secondary" (click)="navigateToProjectList()"></p-button>
  </div>
</form>

@if (error()) {
  <div class="error-message">
    <p>{{error()}}</p>
  </div>
}
