.buttonCol {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.header-container h1 {
  margin: 0;
}

.header-container button {
  margin-left: auto;
}
