<div class="header-container">
  <h1>Projects</h1>
  <p-button type="button" icon="pi pi-plus" (click)="addProject()"></p-button>
</div>

@if (error()) {
  <div class="error-message">
    <p>{{error()}}</p>
  </div>
} @else {
  <p-confirmdialog></p-confirmdialog>
  <p-table [value]="projects()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-project>
      <tr>
        <td>{{ project.name }}</td>
        <td>
          <div class="buttonCol">
            <p-button
              icon="pi pi-pencil"
              [rounded]="true" [text]="true"
              (click)="editProject(project)">
            </p-button>
            <p-button
              icon="pi pi-trash"
              [rounded]="true" [text]="true"
              (click)="deleteProjectRequest(project)">
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}



