.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  background-color: var(--p-surface-a);
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Hide the side menu on mobile */
  }

  .content {
    width: 100%; /* Full width content on mobile */
  }
}
