.card-wrapper {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  min-height: 500px;
}

.card-weekly-statistics {
  flex: 2;
}

.card-weekly-pie-chart {
  flex: 1;
}

.card-full-height {
  height: 100%;
}
